.pyg_main {
    position: relative;
    padding-left: 90px;

    .pyg_left {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 90px;
        overflow: scroll;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            a{
                color: black;
                font-size: 16px;
            }
            li {
                text-align: center;
                height: 40px;
                line-height: 40px;
            }
            .active{
                background-color: #fff;
                border-left: 2px solid #0094ff;
                box-sizing: border-box;
            }
        }
    }

    .pyg_right {
        height: 100%;
        background-color: #fff;
        overflow: scroll;

        .pyg_cates {
            .catesTil {
                font-size: 16px;
                height: 40px;
                line-height: 40px;
                color: #0094ff;
                padding-left: 15px;
                margin-top: 5px;
            }

            .catesIts {
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        width: 33.3%;
                        a{
                            img{
                                width: 90%;
                            }
                            .catesName{
                                text-align: center;
                                color: black;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}